.root {
    -fx-background-color: white;
}

.button {
    -fx-background-radius: inherit;
}

.menu-button {
    -fx-background-color: transparent;
}

.menu-item {
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}

.menu-item:hover {
    -fx-background-color: transparent;
}

.menu-button .arrow {
    -fx-background-color: red;
}

.button-menu {
    -fx-background-color: transparent;
    -fx-text-fill: #00ACEA;
}

.button-menu:hover {
    -fx-underline: true;
    -fx-background-color: transparent;
}

.editionbutton {
    -fx-background-color: #00ACEA;
    -fx-text-fill: white;
}

.home-button {
    -fx-background-color: transparent;
    -fx-text-fill: red;
    -fx-font-size: 15;
}

.bread-crumb-bar:disabled {
    -fx-opacity: 1;
}

.bread-crumb-bar .button:disabled {
    -fx-opacity: 1;
}

.bread-crumb-bar .button {

    -fx-text-fill: red;
    -fx-font-size: 15;
    -fx-padding: 8 12 8 40;
    -fx-border-color: null;
    -fx-content-display: left;
    -fx-background-position: left center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("/slash_forward_icon_246218.png");
    -fx-background-color: transparent;
    -fx-background-size: inherit;
    -fx-shape: null;
}

.bread-crumb-bar .first {
    -fx-text-fill: black;
}

.crumb {
    -fx-text-fill: #000;
}

.crumb:hover,
.crumb:selected,
.crumb:focused {
    -fx-border-color: null;
}

.crumb:disabled {
    -fx-opacity: 1;
}

.tabtab *.tab-header-background {

    -fx-padding: 20 20 20 20;
    -fx-background-color: white;
    -fx-border-color: transparent transparent #C8CCE8 transparent;
}

.tabtab .tab-content-area {
    -fx-border-color: inherit;
}

.tab {
    -fx-pref-height: 50px;
    -fx-background-color: white;
    -fx-border-color: white white #C8CCE8 white;
}

.tab .tab-label {
    -fx-font-size: 15px;
    -fx-alignment: center;
    -fx-text-fill: #00ACEA;
}

.tab:selected {
    -fx-border-color: #C8CCE8 #C8CCE8 white #C8CCE8;
}

.tab:selected .tab-label {
    -fx-alignment: center;
    -fx-text-fill: black;
}

.tab:selected .focus-indicator {
    -fx-focus-color: white;
    -fx-border-color: white;
}

.tabtab .tab:focused {
    -fx-focus-color: white;
}

.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: black;
}

.check-box .box {

    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 3px;

}

.check-box:selected .mark {

    -fx-background-color: white;

}

.check-box:selected .box {
    -fx-background-color: #28a3f4;
}

.menubutton {
    -fx-background-color: transparent;
    -fx-arrows-visible: false;
}

.menubutton > .arrow-button > .arrow {
    -fx-padding: 0;
    -fx-background-color: transparent;
}

.menubutton > .arrow-button {
    -fx-padding: 0;
}

.menubutton:disabled {
    -fx-opacity: 80%;
}

.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-content-display: right;
    -fx-arrows-visible: false;
}

.combo-box > .arrow-button > .arrow {
    -fx-padding: 0;
}

.combo-box > .arrow-button {
    -fx-background-image: url("/sort.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 50%;
}

.combo-box:disabled {
    -fx-opacity: 0.5;
}

.tree-view {
    -fx-border-color: white;
}

.tree-view:selected {
    -fx-border-color: transparent;
}

/*.add-Btn {
    -fx-background-color: transparent;
}

.add-Btn:hover {
    -fx-background-color: #009FE5;
    -fx-text-fill:white;
}

.add-Btn .icon {
    -fx-fill: #009FE5;
}

.add-Btn:hover .icon {
    -fx-fill: white;
}*/


.checkbox {
    -fx-opacity: 0.75;
}

.checkbox:selected {
    -fx-opacity: 1;
}

.checkbox > .box {
    -fx-opacity: 0.75;
    -fx-pref-width: 30;
    -fx-pref-height: 30;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-background-image: url("/quiz.png");
    -fx-content-display: left;
    -fx-background-position: left;
    -fx-background-repeat: no-repeat;
    -fx-background-size: 100%;
}

.checkbox:selected > .box {
    -fx-opacity: 1;
    -fx-background-color: transparent;
}

.checkbox:selected > .box > .mark {
    -fx-background-color: transparent;
}

.checkboxbutton {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.checkBox-MenuButton {
    -fx-background-color: transparent;
}

.checkBox-MenuButton .arrow {
    -fx-background-color: #00ACEA;
}

.scroll-pane {
    -fx-background-insets: 0;
}

.scroll-pane > .viewport {
    -fx-background-color: white;
}

.list-view {
    -fx-background-insets: 0;
    -fx-border-color: white;
}

.list-view:disabled {
    -fx-opacity: 1;
}

.text-area {
    -fx-background-color: white;
    -fx-border-color: black;
}

.text-field {
    -fx-background-color: white;
    -fx-border-color: black;
}


#one .list-cell:filled:selected:focused {
    -fx-background-color: white;
    -fx-text-fill: black;
}

#one .list-cell:filled:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
}

#one .list-cell:odd {
    -fx-background-color: white;
}

#one .list-cell:filled:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}

#two .list-cell:filled:hover {
    -fx-background-color: white;
    -fx-text-fill: black;
}

#two .list-cell:filled:selected {
    -fx-background-color: white;
    -fx-text-fill: black;
}

#two .list-cell:filled:selected:focused {
    -fx-background-color: white;
    -fx-text-fill: black;
}

/* Remove spacing */
.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
}

/* You can control the actual button sizes here */
.pagination > .pagination-control > .control-box > .number-button,
.pagination > .pagination-control > .control-box > .bullet-button,
.pagination > .pagination-control > .control-box > .left-arrow-button,
.pagination > .pagination-control > .control-box > .right-arrow-button {
    -fx-background-insets: 0, 1;
    -fx-background-color: lightgray, #FAFAFA;
    -fx-min-width: 30;
    -fx-min-height: 30;
}

/* Colors on hover */
.pagination > .pagination-control > .control-box > .number-button:hover,
.pagination > .pagination-control > .control-box > .bullet-button:hover,
.pagination > .pagination-control > .control-box > .left-arrow-button:hover,
.pagination > .pagination-control > .control-box > .right-arrow-button:hover {
    -fx-background-insets: 0;
    -fx-background-color: #009FE5;
}

/* Selected toggle color */
.pagination > .pagination-control > .control-box > .number-button:selected,
.pagination > .pagination-control > .control-box > .bullet-button:selected {
    -fx-background-insets: 0;
    -fx-background-color: #009FE5;
    -fx-text-fill: white;
}

.pagination {
    -fx-page-information-visible: false;
}

.pagination > .arrow {
    -fx-background-color: #009FE5;
}

.pagination > .pagination-control > .control-box {
    -fx-spacing: 0;
    -fx-font-size: 12;
}

#box :disabled {
    -fx-opacity: 1;
}

#snack1 .jfx-snackbar-content {
    -fx-background-color: #DCF3D5;
}

.jfx-snackbar-toast {
    -fx-text-fill: #889F81;
    -fx-font-size: 15
}

#snack2 .jfx-snackbar-content {
    -fx-background-color: #EAC9C2;
}

#snack2 .jfx-snackbar-toast {
    -fx-text-fill: #AF5D61;
    -fx-font-size: 15;
}

.tree-view > .tree-cell > .arrow {
    -fx-background-color: transparent;
}

