.root {
    -fx-background-color: white;
}

.menu-button {
    -fx-background-color: transparent;
}

.menu-item {
    -fx-padding: 0 0 0 0;
    -fx-background-color: transparent;
}

.menu-item:hover {
    -fx-background-color: transparent;
}

.menu-button .arrow {
    -fx-background-color: red;
}

.button-menu {
    -fx-background-color: transparent;
    -fx-text-fill: #00ACEA;
}

.button-menu:hover {
    -fx-underline: true;
    -fx-background-color: transparent;
}

.editionbutton {
    -fx-background-color: #00ACEA;
    -fx-text-fill: white;
}

bread-crumb-bar {
    -fx-background-color: transparent;
}

.bread-crumb-bar .button {

    -fx-text-fill: red;
    -fx-font-size: 15;
    -fx-padding: 8 12 8 40;
    -fx-border-color: null;
    -fx-content-display: left;
    -fx-background-position: left center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("/slash_forward_icon_246218.png");
    -fx-background-color: transparent;
    -fx-background-size: inherit;
    -fx-shape: null;
}

.bread-crumb-bar .first {
    -fx-text-fill: black;
}

.crumb {
    -fx-text-fill: #000;
}

.crumb:hover,
.crumb:selected,
.crumb:focused {
    -fx-border-color: null;
}

.tabtab *.tab-header-background {

    -fx-padding: 20 20 20 20;
    -fx-background-color: white;
    -fx-border-color: transparent transparent #C8CCE8 transparent;
}

.tabtab .tab-content-area {
    -fx-border-color: inherit;
}

.tab {
    -fx-pref-height: 50px;
    -fx-background-color: white;
    -fx-border-color: white white #C8CCE8 white;
}

.tab .tab-label {
    -fx-font-size: 15px;
    -fx-alignment: center;
    -fx-text-fill: #00ACEA;
}

.tab:selected {
    -fx-border-color: #C8CCE8 #C8CCE8 white #C8CCE8;
}

.tab:selected .tab-label {
    -fx-alignment: center;
    -fx-text-fill: black;
}

.tab:selected .focus-indicator {
    -fx-focus-color: white;
    -fx-border-color: white;
}

.tabtab .tab:focused {
    -fx-focus-color: white;
}

.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: black;
}

.check-box .box {

    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 3px;

}

.check-box:selected .mark {

    -fx-background-color: white;

}

.check-box:selected .box {
    -fx-background-color: #28a3f4;
}

.menubutton {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-content-display: right;
    -fx-arrows-visible: false;
}

.menubutton > .arrow-button > .arrow {
    -fx-padding: 0;
}

.menubutton > .arrow-button {
    -fx-padding: 0;
}

.combo-box {
    -fx-background-color: transparent;
    -fx-border-color: black;
    -fx-content-display: right;
    -fx-arrows-visible: false;
}

.combo-box > .arrow-button > .arrow {
    -fx-padding: 0;
}

.combo-box > .arrow-button {
    -fx-background-image: url("/sort.png");
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: 50%;
}

.combo-box:disabled {
    -fx-opacity: 0.5;
}

.tree-view {
    -fx-border-color: white;
}

.tree-view:selected {
    -fx-border-color: transparent;
}